doctype html
head
    title Weatherlog
    meta(charset='UTF-8')
    link(rel='icon' type='image/svg+xml' href='../img/favicon.svg')
    link(rel='stylesheet' type='text/css' href='../styles/style.css')
    script(type='text/javascript' src='../scripts/script.js')
    link(rel='stylesheet' href='https://unpkg.com/leaflet/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet/dist/leaflet.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js')

block content
