extends layout.pug

block content
    section#dashboard
        .station_row
            .data_container
                .data_column
                    p.data_title Berlin
                .data_column
                    p.data_title Wetter
                    p 800
                .data_column
                    p.data_title Temperatur
                    p 20.32 Grad
                .data_column
                    p.data_title Wind
                    p 0.89 bft
                .data_column
                    p.data_title Luftdruck
                    p 1016 hpa
        div
            table
                tr
                    th Wetter
                    th Temperatur
                    th Wind
                    th Luftdruck
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016