extends layout.pug

block content
    section#dashboard
        .station_row
            .data_container
                .data_column
                    p.data_title Berlin
                .data_column
                    p.data_title Weather
                    p 800
                .data_column
                    p.data_title Temperature
                    p 20.32 °C
                .data_column
                    p.data_title Wind
                    p 0.89 bft
                .data_column
                    p.data_title Air pressure
                    p 1016 hpa
        div
            table
                tr
                    th Weather
                    th Temperature
                    th Wind
                    th Air pressure
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
                tr
                    td 800
                    td 20.32
                    td 0.89
                    td 1016
